backcall
Bottleneck==1.3.2
certifi==2021.5.30
cftime
decorator
ipython
ipython-genutils
jedi==0.17.2
matplotlib-inline
mkl-fft==1.3.0
mkl-random
mkl-service==2.4.0
h5py==3.4.0
netCDF4==1.4.2
numexpr
numpy
pandas==1.3.2
parso==0.7.1
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
six
traitlet
typing-extensions
wcwidth
xarray
